.form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
    position: relative;
    font-size: larger;
}

.small-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
    background-color: #a2a1a180;
}

li {
    list-style: none;
    text-align: left;
}

.small-container li {
    margin-bottom: -40px;
}

.button {
    box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
    background-color: #a2a1a180;
}