ul {
    list-style: none;
}
  
li {
    font-size: large;
    padding-left: 0
}

.navBar {
    display: flex;
    flex-direction: row;
}

.icon {
    display: flex;
    width: 30px;
    height: 30px;
    padding-top: 30px;
}

.title {
    display: block;
    padding-left: 10px;
    font-size: 2em;
    font-weight: bold;
    color: white;
}