.details {
    padding: 20px 20px 40px;
    text-align: left;
    width: 400px;
    backdrop-filter: blur(4px);
    background-color: hsla(0,0%,100%,.092);
    border-radius: 24px;
    box-shadow: 0 15px 25px hsla(0,2%,50%,.154);
    font-size: medium;
}