.Card {
    border-radius: 10px;
    border-color: gray;
    height: auto;
    width: 300px;
    margin: 20px;
    text-align: center;
    background-color: #5b5a5a;
}

span {
    border-radius: 5px;
    background-color: #ED7D31
}

#Red {
    box-shadow: 10px 8px rgba(255, 0, 0, 0.2);
}

#Green {
    box-shadow: 10px 4px 8px rgba(0, 128, 0, 0.2);
}

#Blue {
    box-shadow: 10px 4px 8px rgba(0, 0, 255, 0.2);
}

#Purple {
    box-shadow: 10px 4px 8px rgba(128, 0, 128, 0.2);
}

#Yellow {
    box-shadow: 10px 4px 8px rgba(255, 255, 0, 0.2);
}

#Orange {
    box-shadow: 10px 4px 8px rgba(255, 165, 0, 0.2);
}

#Pink {
    box-shadow: 10px 4px 8px rgba(255, 192, 203, 0.2);
}

#Rainbow {
    box-shadow: 10px 4px 8px rgba(255, 0, 0, 0.2),
        10px 4px 8px rgba(255, 165, 0, 0.2),
        10px 4px 8px rgba(255, 255, 0, 0.2),
        10px 4px 8px rgba(0, 128, 0, 0.2),
        10px 4px 8px rgba(0, 0, 255, 0.2),
        10px 4px 8px rgba(75, 0, 130, 0.2),
        10px 4px 8px rgba(143, 0, 255, 0.2);
}

#link {
    display: inline;
    text-decoration: none;
    color: white;
}

.button {
    margin-bottom: 10px;
    background-color: aliceblue;
}