.List {
    background-color: hsla(0,0%,100%,.092);
    box-shadow: 0 15px 25px hsla(0,2%,50%,.154);
    padding: 20px 20px 40px;
}

table {
    /* table-layout: fixed; */
    width: 100%;
    border-spacing: 5px;
    margin-left: 20px;
    text-align: center;
}

th {
    width: 100px;
    margin-right: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}

td {
    width: 140px;
    white-space: nowrap;
}

a {
    justify-content: center;
}